.container .row {
  justify-content: space-between;
}

.col-12 .row {
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.col-12 .row .col-4:nth-child(1) {
  display: flex;
  justify-content: start;
}

.col-12 .row .col-4:nth-child(2) {
  display: flex;
  justify-content: end;
}
